html{
  height: 100%;
}
body {
  height: 100%;
  /* font-family: sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.sidebar{
  height: 100%;
  background-image: url('https://github.com/sujiththomas4/sponsotkit-todo/blob/master/assets/sidebar-1.jpeg');
  background-position: center;
  background-size: cover;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
  background-color: #fff;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  transition: .33s,cubic-bezier(.685,.0473,.346,1);
  padding: 15px;
  margin-top: 15px;
}
.nav-item{
  cursor: pointer;
}
.user_profile_icon{
  color: #df7265 !important;
}
.mytodo_item_icon{
  color : #0b7397 !important
}
.leftnavTab.nav-item.active i.material-icons {
  color: white !important;
}
.addTodoBtn {
  width: 56px;
  height: 56px;
  background-color: green;
  border-radius: 50%;
  text-align: center;
  line-height: 56px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
  position: fixed;
  right: 35px;
  bottom: 27px;
}
.addTodoBtnIcon{
  color: white;
  background-color: green !important;
  /* position: fixed; */
  /* height: 100%; */
}


/* maain table css */
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }
  
  .table {
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  }
  
  .widget.widget-table .table {
  margin-bottom: 0;
  border: none;
  }
  
  .widget.widget-table .widget-content {
  padding: 0;
  }
  
  .widget .widget-header + .widget-content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
  
  .widget .widget-content {
  padding: 20px 15px 15px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }
  
  .widget .widget-header {
  position: relative;
  /* height: 40px; */
  line-height: 50px;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  text-shadow: 0 1px 0 #fff;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
  border-bottom: 1px solid #bababa;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
  border: 1px solid #D5D5D5;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
  }
  
  thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  }
  
  .widget .widget-header h3 {
  top: 2px;
  position: relative;
  left: 10px;
  display: inline-flex;
  margin-right: 3em;
  font-size: 14px;
  font-weight: 600;
  color: #555;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  align-items: center;
  }
  
  .widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
  display: inline-block;
  margin-left: 13px;
  margin-right: -2px;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
  }
  .iconHeadtab {
    margin-right: 11px;
}

.ToDoStatusWrapper{
  justify-content: center;
}
.eachcardStatusItem{
  cursor: pointer;
}


/* table */
.todoTableTH_Desc {
  width: 40%;
}
.todoTableTH_due {
  width: 16%;
}
th.todoTableTH {
  background-color: black;
  color: white;
  font-size: 1.1em !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.justify-content-end {
  justify-content: flex-end!important;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-expand-lg .navbar-collapse {
  display: flex!important;
  flex-basis: auto;
}
.table_notes td {
  font-size: 1.3em !important;
  color: black !important;
  opacity: .9;
}
.td-actions{
  text-align: center;
}
.notesActionBtnDeleted {
  color: #ef5350;
  cursor: pointer;
}
.notesActionBtnEdit {
  color: #5fbdc7;
  cursor: pointer;
}
.todoTblStatus {
  width: 20px;
  height: 20px;
  margin: auto;
  border-radius: 50%;
}
.todoTblStatus.new{
background-color: #fd9713;
}
.todoTblStatus.closed{
background-color: #66bb6a;
}
.todoTblRRowsIc{
  font-size: 1em !important;
  position: absolute;
  right: 5px;
  bottom: 3px;
}
.td-actions {
  width: 74px;
}
/* .todoTblRRows.new{
border-left :8px solid rgba(253,151,19,.5) !important;
}
.todoTblRRows.closed{
  border-left :8px solid rgba(102,187,106,.5) !important;
} */


/* modal */
.modalBoxAddTodo{
  opacity: 1 !important;
  display: inline-block !important;
  top: 0% !important;
  margin-top: 0px !important;
  z-index: 4999 !important;
  background: rgba(0,0,0,.5);
}
.modalBoxAddTodoBody{
  transform: translate(10px, 10px) !important;
}
.todoAddNewlabel {
  font-size: 1.1em !important;
  color: black !important;
  opacity: .9;
  font-weight: 600;
}
h5#exampleModalLabel {
  font-weight: 600;
  padding-top: 10px;
  padding-left: 11px;
  letter-spacing: 1px;
}
.addTodoDropdownIc{
  margin-right: 10px;
}
button.addBookModalBtn {
  border: 1px solid lightgray !important;
  width: 170px;
  /* margin-left: 3%; */
  font-size: 1em;
}
.newTodoBtnGrp {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 14px;
  margin-top: 17px;
}

.addBookModalBtn_cancel {
  /* background: #999 !important; */
  color: black !important;
  opacity: 1 !important;
}
/* dropdown */
.dropbtn {
  /* color: black; */
  padding: 5px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 
      0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
  cursor: pointer !important;
}